<header class="">
  <h2>My Boards</h2>
</header>

<div class='row'>
  <% boards.each(function (board) { %>
    <a href="/#boards/<%= board.id %>">
        <div class="col-lg-3 board_list">
            <%= board.escape('name') %>
        </div>
   </a>
  <% }); %>

<a href="#">
    <div class="newBoard col-lg-3 board_list">
        <h6>Create New Board</h6>
    </div>
</a>
</div>

<div class="col-lg-3 board_list" id="new_board_create" style="display: none;">
    <a class="close-modal-custom" rel="modal:close" href="#close-modal">Close</a>
    <h6>Create New Board</h6>
    <div class="create_board">
      <form class="create_board">
        <input type="text"
               class="board_name"
               name="board[name]"
               placeholder="Board Name ..." />
        <input type="text"
               class="board_description"
               name="board[description]"
               placeholder="Board Description ..." />
        <input type="submit" value="Create Board" />
      </form>
    </div>
 </div>
</div>